body {
  font-family: 'Noto Sans KR', sans-serif;
}

.modal-guide-text {
  color: blue;
  cursor: pointer;
  font-size: 0.7em;
}

.modal-guide-text-in-input {
  color:blue;
  cursor: pointer;
  font-size: 0.7em;
  position: absolute;
  right: 10px;
}


.modal {
  background-color: white;
  width: 40em;
  border: solid black 1px;
  padding: 2em;
  align-self: center;
}
