body {
  font-family: "Noto Sans KR", sans-serif;
}

.modal-guide-text {
  color: #651fff;
  cursor: pointer;
  font-size: 0.7em;
  font-weight: 700;
}

.modal-guide-text-in-input {
  color: #651fff;
  cursor: pointer;
  font-size: 0.7em;
  position: absolute;
  right: 10px;
  font-weight: 700;
}

.modal {
  background-color: white;
  width: 40em;
  max-height: 80vh;
  border: solid black 1px;
  padding: 1.8em;
  align-self: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal .v-btn {
  margin-top: 1em;
  width: 95%;
  border-radius: 30px;
}

.emphasis-text {
  color: #651fff;
  font-weight: 900;
}
